<template>
  <div :class="backdropStyle || 'modal-backdrop'">
    <div :class="modalStyle || 'modal'">
      <span
        :class="buttonStyle || 'buttonModal'"
        :key="i"
        v-for="i in itemSelected.timeSlotCodes"
      >{{ i }}</span>
      <div class="button-wrapper">
        <button
          type="buttonModal"
          :class="[buttonCloseStyle || 'buttonModal', 'buttonModalGreen']"
          v-on:click="$emit('closeModal')">CERRAR</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",

  props: {
    itemSelected: {
      type: Object
    },
    backdropStyle: {
      type: Object
    },
    buttonCloseStyle: {
      type: Object
    },
    modalStyle: {
      type: Object
    },
    buttonStyle: {
      type: Object
    }
  }
};
</script>

<style lang="scss">
$line-width: 6px;
$line-color: rgb(224, 102, 102);
$label-height: 2em;
$label-color-active: rgb(224, 102, 102);
$label-color-inactive: #99a4ac;

.buttonModal {
  display: inline-block;
  background-color: #01bfb8;
  color: #fff;
  width: 16 * $line-width;
  height: 4 * $line-width;
  margin: $line-width;
  border: 2px solid #01bfb8;
  border-radius: 8px;
  font-size: 10px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-y: auto;
}

.button-wrapper {
  width: 100%;
}

.buttonModalGreen {
  background-color: $line-color;
  border: 2px solid $line-color;
  cursor: pointer;
}
</style>