<template>
  <div class="step">
    <div class="exercise">
      <h1>Task 5 - New Component 🎉</h1>
      <p>Genera un componente para visualizar la información obtenida de la llamada anterior.</p>
      <p>Requisitos:</p>
      <ul>
        <li>Debe mostrar los días disponibles</li>
        <li>Poder seleccionar un día</li>
        <li>Mostrar los horarios del día seleccionado</li>
      </ul>
      <p>Extra:</p>
      <ul>
        <li>Debe ser fácilmente personalizable</li>
        <li>Visualización en mobile & desktop</li>
      </ul>
    </div>
    <div class="dates-wrapper">
      <span class="button" :key="item.date" v-for="item in dataArray" v-on:click="openModal(item)">{{ item.date }}</span>
    </div>
    <Modal @closeModal="closeModal" v-if="modal" :itemSelected="itemSelected"/>
  </div>
</template>

<script>
import Modal from '../components/Modal'

export default {
  name: 'StepFour',
  components: {
    Modal
  },

  props: {
    dataArray: {
      type: Array
    }
  },
  
  data () {
    return {
      modal: false,
      itemSelected: null
    }
  },

  methods: {
    openModal: function(value) {
      this.$emit('dateSelected', value.date)
      this.itemSelected = value
      this.modal = true
    },
    closeModal: function() {
      this.modal = false
    }
  }
}
</script>

<style lang="scss">

$line-width: 6px;
$line-color: rgb(224, 102, 102);
$label-height: 2em;
$label-color-active: rgb(224, 102, 102);
$label-color-inactive: #99a4ac;

.dates-wrapper {
  box-sizing: border-box;
  border: 1px solid #DDD;
  padding: 1rem;
  width: 100%;
}
</style>
