<template>
  <div class="step">
    <div class="exercise">
      <h1>Task 1 - Bug 🐛</h1>
      <p>Tenemos el componente <code>&lt;Stepper></code> insertado en nuestra aplicación.</p>
      <p>Este componente nos permite visualizar cuantos pasos hay y en cuál estamos.</p>
      <p>El componente está insertado en el archivo <code>App.vue</code> pero hay un fallo y no funciona.</p>
      <p>Detecta y corrige el fallo.</p>
    </div>
    <div class="exercise">
      <h1>Task 2 - Component update 🔧</h1>
      <p>Modifica el componente Stepper.</p>
      <p>Requisitos:</p>
      <ul>
        <li>Genera dos botones que te permita avanzar y retroceder por los pasos</li>
        <li>Añade la funcionalidad de poder pulsar sobre los pasos que ya has visitado.</li>
      </ul>
    </div>
    <div class="info">En el componente StepTwo tienes el siguiente ejercicio.</div>
  </div>
</template>

<script>
export default {
  name: 'StepOne',
  
  data () {
    return {
    }
  }
}
</script>
