<template>
  <div class="step">
    <div class="exercise">
      <h1>Task 3 - Steps 🏗</h1>
      <p>Configura la aplicación para que visualice el componente correspondiente en cada paso.</p>
      <p>Requisitos:</p>
      <ul>
        <li>Los componentes están en la carpeta '/components/steps'.</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StepTwo',
  
  data () {
    return {
    }
  }
}
</script>
