<template>
  <div class="step">
    <div class="exercise">
      <h1>Task 7 - Tests 🥇</h1>
      <p>
        Genera los tests que consideres oportunos para el componente realizado.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StepSix',
  
  data () {
    return {
    }
  }
}
</script>
