<template>
  <div id="app">
    <Stepper :steps="steps" :currentStep="currentStep" @next="next" @back="back" @step="step"/>
    <StepOne v-if="currentStep===0"/>
    <StepTwo v-if="currentStep===1"/>
    <StepThree v-if="currentStep===2" @data="data"/>
    <StepFour v-if="currentStep===3" :dataArray="dataArray" @dateSelected="dateSelected"/>
    <StepFive v-if="currentStep===4" :endDate="endDate" :startDate="startDate"/>
    <StepSix v-if="currentStep===5"/>
  </div>
</template>

<script>
import Stepper from '@/components/Stepper'
import StepOne from '@/components/StepOne'
import StepTwo from '@/components/StepTwo'
import StepThree from '@/components/StepThree'
import StepFour from '@/components/StepFour'
import StepFive from '@/components/StepFive'
import StepSix from '@/components/StepSix'

export default {
  name: 'app',
  components: {
    Stepper,
    StepOne,
    StepTwo,
    StepThree,
    StepFour,
    StepFive,
    StepSix
  },

  data () {
    return {
      currentStep: 0,
      steps: ['one', 'two', 'three', 'four', 'five', 'six'],
      dataArray: null,
      endDate: null,
      startDate: null
    }
  },

  methods: {
    next: function() {
      if(this.currentStep >= 0 && this.currentStep < 5) {
        this.currentStep === 3 && (this.startDate === null || this.endDate === null) ? alert('Seleccione una fecha para continuar') : this.currentStep++
      }
    },
    back: function() {
      if(this.currentStep > 0 && this.currentStep <= 5) this.currentStep--
    },
    step: function(value) {
      if (this.currentStep > value) this.currentStep = value
    },
    data: function(value) {
      this.dataArray = value
    },
    dateSelected: function(value) {
      this.endDate = value
      let newDate = new Date(value.replace( /(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))
      let newDateMonthAgo = new Date(newDate.setDate(newDate.getDate()-30))
      this.startDate = newDateMonthAgo.getFullYear() + "-" + newDateMonthAgo.getMonth()+1 + "-" + newDateMonthAgo.getDate()
    }
  }

}
</script>

<style lang="scss">
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 1rem;
}

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
.links {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
hr {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

p {
  width: 100%;
  text-align: left;
  margin: .5rem 0;
}
img {
  width: 100%;
  border: 1px solid black;
  margin-top: 1rem;
}
.code {
  text-align: left;
  font-family: monospace;
  background-color: rgb(225, 225, 225);
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem auto;
  width: fit-content;
}
.doc-box {
  border: 1px solid #DDD;
  padding: 1rem;
  background-color: #EFEFEF;
  margin: 2rem 0;
}
.exercise {
  ul {
   text-align: left;
  }
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #DDD;
}

.info {
  margin-top: 1rem;
  border: 1px solid #DDD;
  padding: 0.5rem 1rem;
  background-color: #EFEFEF;
}

</style>
